<div class="main">
    <div class="content">
      <span class="title">Optimiza el flujo de trabajo en tu bodega </span>
      <span class="sub">
        Log studio WMS es una herramienta de gestión de bodegas eficiente y fácil
        de usar que te ayuda a mejorar la eficiencia en tus bodegas y optimizar
        las operaciones.
      </span>
      <div class="buttons">
          <button class="start">Comenzar</button>
          <button class="more">Saber más</button>
      </div>
    </div>
    <div class="imgBox">Imágen</div>
  </div>
  